/*
 Theme Name:   The Church Lite Child
 Theme URI:    https://bitbucket.org/vbert/the-church-lite-child
 Description:  The Church Lite Child Theme
 Author:       vbert
 Author URI:   https://bitbucket.org/vbert/
 Template:     the-church-lite
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         blog,two-columns,right-sidebar,full-width-template,custom-colors,custom-menu,custom-header,custom-logo,featured-images,editor-style,custom-background,threaded-comments,theme-options, translation-ready
 Text Domain:  the-church-lite-child
*/

/**
 * Google Fonts
 */
/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Open Sans Condensed', sans-serif; */
/* font-family: 'Lora', serif; */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&family=Open+Sans+Condensed:wght@300;700&family=Open+Sans:wght@300;400;600&display=swap');
